<div class="grid grid-cols-2">

  {{> boardlistpartial}}

  {{!-- List of users who can manage this board --}}
  <div class="bg-base-200 rounded-box gap-1 p-2">
    <h3 class="text-primary font-bold">This board's users:</h3>
    {{!-- List this user in first row --}}
    <li class="flex flex-row mt-1">
      <a class="btn btn-info">
        <div class='avatar online placeholder mr-2'>
          <div class='bg-neutral text-neutral-content rounded-full w-8'>
            <span class='text-xl font-bold'>{{first_char currentuser.name}}</span>
          </div>
        </div>{{currentuser.name}}
      </a>
    </li>
    {{!-- List all other users who can manage this board --}}
    {{#if sharedusers.length}}
    {{#each sharedusers as |shareduser|}}
    <li class="flex flex-row mt-1">
      <a class="btn">
        <div class='avatar online placeholder mr-2'>
          <div class='bg-neutral text-neutral-content rounded-full w-8'>
            <span class='text-xl font-bold'>{{first_char shareduser.name}}</span>
          </div>
        </div>{{shareduser.name}}
      </a>
    </li>
    {{/each}}
    {{/if}}
    {{!-- Form to add new user to the board --}}
    <li class="flex flex-row mt-1 w-full">
      <section class="form-control flex flex-row rounded-box">
        <input id="sharetouser" class="w-fit" type="text" placeholder="Username" name="desttypes" list="desttypes"
          class="input input-bordered w-full input-primary" />
        <button id="addusertoboard" class="btn btn-primary w-fit m-1" alt="Add a user to this board"
          onclick="addusertoboard(event)">Add</button>
      </section>
    </li>
  </div>

</div>

{{> locationpartial}}

<div>
  <h3 class='text-4xl font-bold p-2'>{{#if selectedboard}}Search{{/if}}</h3>

  {{#if filters.length}}
  <div class='flex flex-wrap m-2'>
    <h3 class='text-2xl m-2'>Filters:</h3>
    <ul class='menu menu-horizontal lg:menu-horizontal bg-gray-300 rounded-box gap-5'>
      {{#each filters}}
      {{!-- <li><a>{{filter_name}}</a></li> --}}
      <button class="btn btn-info rounded-xl btn-outline">{{filter_name}}</button>
      {{/each}}
    </ul>
  </div>
  {{/if}}

  {{#if selectedboard}}
  <div class='flex flex-wrap text-primary'>
    <!-- search section for cities -->
    <section class="form-control w-full lg:w-1/2 lg:pr-2">
      <label class="label">
        <span class="label-text w-full max-w-xs text-2xl">Destination:</span>
      </label>

      <input id="wheretosearch" type="text" placeholder="Search keywords" name="desttypes" list="desttypes"
        class="input input-bordered w-full input-primary" />
    </section>

    <section class="form-control w-full lg:w-1/2">
      <label class="label">
        <span class="label-text w-full max-w-xs text-2xl">Filters:</span>
      </label>

      <input id="whattosearch" type="text" placeholder="Search keywords" name="filtertypes" list="filtertypes"
        class="input input-bordered w-full input-primary" />
      <datalist id="filtertypes">
        {{#if filters.length}}
        {{#each filters}}
        <option value="{{filter_name}}">
          {{/each}}
          {{/if}}
      </datalist>
    </section>

  </div>

  <div class="my-1 gap-1">
    {{!-- <button id="find-me" class="btn btn-primary" onclick="geoFindMe()">Search My Location</button> --}}
    <button id="find-map" class="btn btn-primary w-full" alt="Search for filters near the specified location"
      onclick="searchHandler(event)">Inspire Me</button>
  </div>
  <div id="geometry" class="btn p-2 m-2">
    <div id="boardlat" data-lat="{{selectedboard.lat}}">Latitude: {{selectedboard.lat}}</div>
    <div id="boardlng" data-lng="{{selectedboard.lng}}">Longitude: {{selectedboard.lng}}</div>
  </div>

  <div id="map" class="w-full h-64 rounded-2xl w-full h-96 shadow-2xl "></div>
  {{/if}}

</div>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAKGh9hM6lkhtz5MNmuUehgwnvtLVjYr8&libraries=places,maps&v=beta&callback=initMap"
  async>
  </script>
{{!--
<script src="/js/googleapis.com_beta.js"></script> --}}
<script src='/js/boards.js' defer></script>